/* @font-face {
  font-family: "Open Sans";
  src: url("../fonts/Roboto-VariableFont_wdth,wght.ttf") format('truetype');
  font-weight: 300 800;
  font-style: normal;
  font-display: swap;
} */
@font-face {
  font-family: "Tilda Sans";
  src: url("../fonts/TildaSans-VF.woff2") format('truetype');
  font-weight: 250 1000;
  font-style: normal;
  font-display: swap;
}

:root {
  --font-size: 18px;
  --font-size--mob: 14px;
  --link-color: #0d6efd;
}

html {
  font-size: var(--font-size);
  font-weight: 300;
}
@media (max-width: 576px) {
  html {
    font-size: var(--font-size--mob);
  }
}

body {
  font-family: "Tilda Sans", Arial, sans-serif;
  margin: 0;
}

a {
  color: var(--link-color);
}

img {
  width: 100%;
}

button {
  font-family: inherit;
  max-width: 380px;
}

input {
  font-family: inherit;
  font-size: 0.8em;
  padding: 0.4em;
}
input[type="radio"] {
  min-width: initial;
}

select {
  font-size: .8em;
  padding: .35em;
}

summary {
  cursor: pointer;
}

/** Override default browser styles **/
h1 {
  font-size: 2em;
}