.cont {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: border-box;
}
.cont--narrow {
  max-width: 760px;
}

.main {
  padding-top: 1rem;
  padding-bottom: 2rem;
}

.section {
  margin-bottom: 2rem;
}