.section--about__text {
  margin-top: 7rem;
  margin-bottom: 7rem;
  font-size: 34px;
  padding-top: 130px;
  padding-bottom: 130px;
}
.section--about__text--delicate {
  opacity: .7;
  line-height: 1.35;
  font-size: 30px;
}

.section--full-img {
  background-image: url('../../../assets/img/1000_F_190992097_rgVOhuvdZ7ZhJzRFIncBLdi6sXTwq3nX.webp');
  background-size: cover;
  background-position-y: 60%;
  height: 100vh;
  position: relative;
}
.section--full-img__text {
  position: absolute;
  bottom: 7%;
  left: 4%;
  color: white;
}

.section--spaced {
  padding-top: 8rem;
  padding-bottom: 8rem;
}

.advantages {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.advantage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}