.section--about__text {
  text-align: center;
  margin-top: 7rem;
  margin-bottom: 7rem;
  font-size: 34px;
  padding-top: 130px;
  padding-bottom: 130px;
}

.section--full-img {
  background-image: url('../../../assets/img/1000_F_190992097_rgVOhuvdZ7ZhJzRFIncBLdi6sXTwq3nX.webp');
  background-size: cover;
  background-position-y: 60%;
  height: 100vh;
  position: relative;
}
.section--full-img__text {
  position: absolute;
  bottom: 7%;
  left: 4%;
  color: white;
}