.hero {
  background-color: rgba(0, 0, 0, 0.7);
  background-image: url('../../img/gradient-simple-background-femboy-hd-wallpaper-preview.jpg');
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 0;
}
.hero::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: -1;
}

.hero__title {
  font-size: 72px;
  font-weight: 600;
}

.hero__text-1 {
  text-transform: uppercase;
  margin-bottom: 1.7rem;
  letter-spacing: 2.5px;
  font-size: 14px;
  font-weight: 600;
}

.hero__text-2 {
  margin-bottom: 2.8rem;
  font-size: 24px;
}

.hero__btn {
  font-weight: 600;
  background-color: white;
  border: none;
  border-radius: 30px;
  padding-top: 18px;
  padding-right: 60px;
  padding-bottom: 18px;
  padding-left: 60px;
  font-size: 16px;
}
.hero__btn__icon {
  background-image: url('https://static.tildacdn.com/lib/icons/button/heart_regular.svg');
}